@mixin section-padding {
  padding: 15px 30px;
}

.neu-container {
  width: 100%;
}

.neu-button-section {
  @include section-padding;
  display: flex;
  flex-wrap: wrap;
}

.neu-text-section {
  @include section-padding;
  & > * {
    margin-bottom: 5px;
  }
}

.neu-card-section {
  @include section-padding;
  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
